.item-service{
    width: 100%;
}

.type{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

span {
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
  font-family: monospace;
  background-color: antiquewhite;
  padding : 5px
}

.item-service p{
    text-align: center;
    font-size: 20px;
}
.item-service div button{
  padding: 8px;
  width: 60%;
  margin-top: 13px;
  font-weight: 600;
  float: right;
  color:white;
  border: none;
  background-color: rgb(19, 189, 19);
  font-size: 13px;
  margin-bottom: 13px;
}
._detail{
  min-height: 13vw;
  border: 1px solid black;
  width: 25vw;
  padding: 20px 20px 20px 20px;
  text-align:justify;
}
