.comment{
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 70%;
  height: 300px;
  background-color: rgb(214, 191, 86);
  margin:25px;
  align-items: center;
  margin-left: 15%;
}
.comment div {
    border: 2 solid black;
    background-color: #8d8ff0;
    min-height: 100px;
    width: 80%;
    margin: 20px;
}
h3, p{
  text-align: center;
}
.reviews{
  text-align: center;
}
