header{
  position: fixed;
  background-color: #F7F7F7;
  padding-bottom: 0.5px;
  width: 100%;
  
  z-index: 1;
}
.main-container div:nth-child(2){
  margin: 20px 2.5% 20px 2.5%;
  
}

.service-container{
  display: flex;
  min-height: 25vw;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 3px rgb(133, 96, 52);
  padding: 20px;
  color: #F7F7F7;
}

/*Slogan section*/
.slogan{
  display: flex;
  margin-bottom: 40vh;
  z-index: -1;

}
.slogan img{
  position: absolute;
  width: 100%;
  height: 100vh;
  border-bottom: 5px solid darkblue;
}
.slogan h1{
  font-family: serif; 
  text-align: center;
  font-size: 2.3em;
  color: #F7F7F7;
  margin:15% 20% 10% 20%;
  z-index: 1;
}
/*Services section*/
.service-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service-box-type{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1vw;
}

/*Service*/
._achieve{
  padding: 20px;
}
._achieve p{
  font-size:35px;
  color: darkgray;
}

